{% extends 'base.html' %}
{% load static %}
{% block csspart %}
  <link rel="stylesheet" href="{% static 'newsdetails.css' %}" />
{% endblock %}
{% block content %}
  <div class="details" data-page="news">
    <div class="related-news"></div>
    <section class="detail-article">
      <h1>{{ article.title }}</h1>

      <div class="short-des">{{ article.short_description }}</div>
      <div class="detail-like-container">
        <div class="article-date">
          at {{ article.post_published }} by{% if article.author %}
            <span class="author">{{ article.author }}</span>
          {% else %}
            <span class="author">Unknown</span>
          {% endif %}

          <span class="source-link"><a href="{{ article.source_link }}">Source</a></span>
        </div>
        <div class="likey-section">
          <div class="like-button" style="color: var(--text-color-light); font-size: 50px;" data-news="{{ article.slug }}">
            <i class="fa-solid fa-heart"></i>
          </div>
          <div class="unset-button" style="color: var(--primary-color); font-size: 50px;" data-news="{{ article.slug }}">
            <i class="fa-solid fa-heart"></i>
          </div>
          <div class="like-count">{{ no_of_likes }} likes</div>
          <div class="user-liked" data-userliked="{{ user_liked }}"></div>
        </div>
      </div>

      <div class="share-box">
        <i class="fa-solid fa-share"></i>Share<div class="share-list">
          <div class="links-share-items">
            <a href="" class="share-it share-wa"><i class="fa-brands fa-whatsapp"></i>WhatsApp</a>
            <div class="fb-share-button share-it" data-href="" data-layout="" data-size="">
              <a id="fa" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A8000%2Fnews%2Fwhy-susan-monarez-is&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore share-it"><i class="fa-brands fa-facebook"></i>Facebook</a>
            </div>
          </div>
        </div>
      </div>

      <div class="image-container">
        <img src="{{ article.image_url }}?resize=900,602" alt="article_url" width="200" height="200" onerror="this.src='https://images.unsplash.com/photo-1585829365295-ab7cd400c167?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D';" />
      </div>

      <div class="ai-gen">
        <h1>AI Summary</h1>
      </div>

      <hr />

      <div class="article-content">{{ article.summary }}</div>

      <div class="comments">
        <div class="comment-area">
          {{ comment_form.comment.as_widget }}
          <button type="submit" class="commentsubmit">Comment</button>
        </div>
        <div class="comment-list">
          {% for com in comments %}
            <div class="user-comments">
              <p>At {{ com.created_at }}</p>
              <p>{{ com.user }} Said</p>
              <p>{{ com.comment }}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
  </div>

  {% csrf_token %}

  <script src="{% static 'newsdetail.js' %}"></script>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v22.0"></script>

  <div id="fb-root"></div>
{% endblock %}

<div class="like-button" style="color: var(--text-color-light); font-size: 50px;" data-news="{{ article.slug }}">
  <i class="fa-solid fa-heart"></i>
</div>
<div class="unset-button" style="color: var(--primary-color); font-size: 50px;" data-news="{{ article.slug }}">
  <i class="fa-solid fa-heart"></i>
</div>
<div class="like-count">{{ no_of_likes }}</div>
<div class="user-liked" data-userliked="{{ user_liked }}"></div>
