{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="login-body">
    <div class="login-content">
      <a class="logo-news" href="{% url 'allnews' %}">
        <i class="fa-solid fa-layer-group"></i>
        Newsy
      </a>
      <form action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
          <div class="fieldWrapper">{{ field.errors }}</div>
          {% if field.errors %}
            <span class="login-err">{{ field.errors }}</span>
          {% endif %}
        {% endfor %}
        <button type="submit" class="login-btn">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}
