{% extends 'base.html' %}
{% load static %}
{% block csspart %}
  <link rel="stylesheet" href="{% static 'newsdetails.css' %}" />
{% endblock %}
{% block content %}
  <div class="details" data-page="trending">
    <div class="related-news"></div>
    <section class="detail-article">
      <h1>{{ product.name }}</h1>

      <div class="short-des">{{ product.description }}</div>

      <div class="article-date">
        <span>at {{ product.featuredat }}</span>

        <a href="{{ product.link }}" class="product-link" style=""><img src="{{ product.thumbnail }}" alt="article_url" width="40" height="40" style="border-radius: 50%; vertical-align: middle; margin-left: 5px;" /></a>
        <span class="source-link" style="margin-left: 5px;"><a href="https://www.producthunt.com/">Source</a></span>
      </div>

      <div class="share-box">
        <i class="fa-solid fa-share"></i>Share<div class="share-list">
          <div class="links-share-items">
            <a href="" class="share-it share-wa"><i class="fa-brands fa-whatsapp"></i>WhatsApp</a>
            <div class="fb-share-button share-it" data-href="" data-layout="" data-size="">
              <a id="fa" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A8000%2Fnews%2Fwhy-susan-monarez-is&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore share-it"><i class="fa-brands fa-facebook"></i>Facebook</a>
            </div>
          </div>
        </div>
      </div>

      <div class="image-container">
        <img src="{{ product.media }}?resize=900,602" alt="article_url" width="200" height="200" />
      </div>
      <h1>What problem does {{ product.name }} Solve ?</h1>
      <div class="article-content">{{ product.summary }}</div>

      {% csrf_token %}

      <div class="like-button" style="color: white; font-size: 50px;" data-news="{{ product.slug }}">Liked</div>
      <div class="unset-button" style="color: white; font-size: 50px;" data-news="{{ product.slug }}">Not Liked</div>
      <div class="like-count">{{ no_of_likes }}</div>
      <div class="user-liked" data-userliked="{{ user_liked }}"></div>

      <div class="comments">
        <h1>Comments section</h1>
        {{ comment_form }}
        <button type="submit" class="commentsubmit">Comment</button>
      </div>
      <div class="comment-list">
        {% for com in comments %}
          <p>At {{ com.created_at }}</p>
          <p>{{ com.user }} Said</p>
          <p>{{ com.comment }}</p>
        {% endfor %}
      </div>
    </section>
  </div>
  <script>
    const menuBtns = document.querySelectorAll('.menu-button')
    const overlayMenu = document.querySelector('.overlay')
    const closeBtn = document.querySelector('.close-button')
    
    menuBtns.forEach((btn) => {
      btn.addEventListener('click', () => {
        overlayMenu.style.display = 'flex'
      })
    })
    
    closeBtn.addEventListener('click', () => {
      overlayMenu.style.display = 'none'
    })
  </script>
  <script src="{% static 'newsdetail.js' %}"></script>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v22.0"></script>
{% endblock %}
