@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap');
:root {
    --primary-color: #DA0037;
    --secondary-color: #444444;
    --bg-color:#171717;
    --text-color-light: #EDEDED;
    --text-color-dark: black;
}


body{
    background-color: var(--bg-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a{
    text-decoration: none;
}

.nav ul{
    display: flex;
    height: 86px;
    margin-bottom: 28px;
    gap: 16px;
    align-items: center;
    justify-content: space-around;
    
}

.nav ul li a{
    text-decoration: none;
    color: var(--text-color-light);
    font-size: 20px;
    font-family: "News Cycle", sans-serif;


}
.nav ul li a:hover,.newsy-name:hover{
    color: var(--primary-color);
}
.nav ul li{
    list-style: none;
}

.login-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:650px;
    width: 100%;
   


}
.login-content{
    height: 80%;
    width: 35%;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    border-radius: 30px;
   

}
.logo-news{
    color: var(--text-color-light);
    font-size: 42px;
    font-family: "News Cycle", sans-serif;


}


.login-content form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.fieldWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    
}



.login-body input{
    width: 75%;
    height: 48px;
    border-radius: 10px;
    border: none;
    padding: 10px 15px;
    
}

.login-body input:focus{
    outline: none;
    border: solid var(--primary-color);
}

.login-btn{
    width: 75%;
    height: 32px;
    border-radius: 10px;
    border: none;

}

.login-btn:hover{
    background-color: var(--primary-color);

}
.login-err ul{
    list-style: none;
    color:red;
}
.logo-news:hover{
    color: var(--primary-color);

}




.menu-button {
    background: none;
    border: none;
    margin-right: 6px ;
    font-size: 28px;
  }

.overlay {
height: auto;
width: 100%;
position: fixed;
top: 0;
left: 0;
background-color: var(--bg-color);
color: white;
display: none;
z-index: 1000;
justify-content: center;
flex-direction: column;
}
.overlay-text{
    display: flex;
    justify-content: space-around;
    font-family: "News Cycle", sans-serif;
    margin-top: 10px;
    align-items: center;

}
.overlay-content a {
margin: 10px;
color: white;
text-decoration: none;
font-family: "News Cycle", sans-serif;
margin-left: 40px;


}
.overlay-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
}

.overlay-content a:hover {
color: var(--primary-color);
}


.overlay-text input{
    border: none;
    border-bottom: 2px solid var(--text-color-light);
    padding: 8px 0;
    font-size: 16px;
    background: transparent;
    outline: none;
    color: var(--text-color-light);



}
.search-btn{
    background: none;
    border: none;
    outline: none;
    padding: 0;
    font-size: 14px;
    color: var(--text-color-light);

}
.close-button {
position: absolute;
top: 1rem;
right: 1rem;
font-size: 2rem;
border: none;
color: white;
}

nav *{
    color: var(--text-color-light);
}

.user-box{
    width: 64px;
    height: 32px;
    background-color: var(--bg-color);
    position: relative;
    text-align: center;
    color: var(--text-color-light);
    cursor: pointer;

}

.user-list{
    display: none;
    height: auto;
    background-color: var(--secondary-color);
    width: 140px;
    position: absolute;
    top: 28px;
    z-index: 1;
    border: none;
    flex-direction: column;
    border-radius: 15px;

    

}

.user-setting-icon{
    font-size: 28px;


}

@media (max-width:600px){
    .nav li, .overlay{ 
        font-size: 12px;

    }
    .user-list{
        right: 25px;
    }

    .user-list *{
        font-size: 12px;
    }
    .search-btn{
        position: relative;
        right: 20px;
    }
    .close-button{
        font-size: 20px;
    }

        .menu-button{
        font-size: 28px;
    }

    .login-content{
        width: 90%;
    }

}




@media (max-width:1000px){
    .login-content{
        width: 80%;
    }
}