{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'base.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block csspart %}

    {% endblock %}
  </head>
  <body>
    {% block navbar %}
      <nav class="nav">
        <ul>
          <li>
            <i class="fa-solid fa-bars menu-button"></i>

            <a href="{% url 'home' %}"><span class="newsy-name">Tech</span></a>
          </li>
          <li>
            <a href="{% url 'allnews' %}">Latest</a>
          </li>

          <li>
            <a href="{% url 'trending_list' %}">Products</a>
          </li>
          <li>
            {% if request.user.is_authenticated %}
              <div class="user-box">
                <i class="fa-solid fa-user user-setting-icon"></i>
                <div class="user-list">
                  <a href="{% url 'logout' %}">Logout</a>
                  <a href="{% url 'register' %}">Register</a>
                  <a href="{% url 'bookmark' %}">Bookmarks</a>
                </div>
              </div>
            {% else %}
              <div class="user-box">
                <i class="fa-solid fa-user user-setting-icon"></i>
                <div class="user-list">
                  <a href="{% url 'login' %}">Login</a>
                  <a href="{% url 'register' %}">Register</a>
                  <a href="{% url 'bookmark' %}">Bookmarks</a>
                </div>
              </div>
            {% endif %}
          </li>
        </ul>
      </nav>

      <div class="overlay">
        <div class="overlay-text">
          <h1>Product Categories</h1>
          <form action="{% url 'product_search' %}" method="GET">
            <input type="text" name="searchTerm" />
            <button type="submit" class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
        </div>
        <hr />
        <i class="fa-solid fa-xmark close-button"></i>
        <nav class="overlay-content">
          {% for cat in categories %}
            <a href="{% url 'category' cat|slugify %}">{{ cat }}</a>
          {% endfor %}
        </nav>
      </div>
    {% endblock %}

    {% block content %}

    {% endblock %}

    <script>
      let userbox = document.querySelector('.user-box')
      let userlist = userbox.children[1]
      console.log(userbox, userlist)
      userbox.addEventListener('mouseenter', () => {
        userlist.style.display = 'flex'
      })
      userbox.addEventListener('mouseleave', () => {
        userlist.style.display = 'none'
      })
    </script>
  </body>
</html>
